:root {
    --color-primary-blue: #269fe6;
    --color-primary-hover: #2086c2;
    --color-primary-dark: #13141f;
    --color-primary-dark-bg: #212336;
    --color-primary-green: #27df52;
    --color-primary-red: #e23b49;

    --color-white: #fff;
    --color-black: #000;

    --color-dark-text: #444;
    --color-info-light: #cce5ff;

    --color-gray-0: #f9f9f9;
    --color-gray-1: #e0e0e0;
    --color-gray-2: #c7c7c7;
    --color-gray-3: #aeaeae;
    --color-gray-4: #959595;
    --color-gray-5: #7d7d7d;
    --color-gray-6: #646464;
    --color-gray-7: #4b4b4b;
    --color-gray-8: #323232;
    --color-gray-9: #191919;

    --font-primary: sans-serif;
    /* --font-pkm: 'Omega Ruby', sans-serif; */
    --font-headings: 'Roboto Slab', serif;

    --spacing-gutter-medium: 3rem;
    --spacing-gutter-large: 4rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {

    font-family: var(--font-headings);
}

.container {

    max-width: 144rem;
    margin: 0 auto;
    padding: var(--spacing-gutter-medium);
}

.main-header-container {

    background: var(--color-primary-red);
}

.main-logo img{

    max-width: 100%;
}

.main-logo {

    font-size: 4rem;
    color: var(--color-gray-0);
    text-decoration: none;
    display: flex;
    flex-direction: row nowrap;
    align-items: center;
    justify-content: center;
    width: fit-content;
    margin: 0 auto;
}