:root {
    --color-primary-blue: #269fe6;
    --color-primary-hover: #2086c2;
    --color-primary-dark: #13141f;
    --color-primary-dark-bg: #212336;
    --color-primary-green: #27df52;
    --color-primary-red: #e23b49;

    --color-white: #fff;
    --color-black: #000;

    --color-dark-text: #444;
    --color-info-light: #cce5ff;

    --color-gray-0: #f9f9f9;
    --color-gray-1: #e0e0e0;
    --color-gray-2: #c7c7c7;
    --color-gray-3: #aeaeae;
    --color-gray-4: #959595;
    --color-gray-5: #7d7d7d;
    --color-gray-6: #646464;
    --color-gray-7: #4b4b4b;
    --color-gray-8: #323232;
    --color-gray-9: #191919;

    --font-primary: sans-serif;
    --font-pkm: 'Omega Ruby', sans-serif;
    --font-headings: 'Roboto Slab', serif;

    --spacing-gutter-medium: 3rem;
    --spacing-gutter-large: 4rem;
}

* {

    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {

    background: var(--color-gray-7);
}

html, body {
    min-height: 100%;
}



.normal {
    background-color: #959595;
}

.grass {
    background-color: #77c850;
}

.fire {
    background-color: #ee7f30;
}

.water {
    background-color: #678fee;
}

.electric {
    background-color: #f7cf2e;
}

.ice {
    background-color: #98d5d7;
}

.ground {
    background-color: #dfbf69;
}

.flying {
    background-color: #a98ff0;
}

.poison {
    background-color: #a040a0;
}

.fighting {
    background-color: #bf3029;
}

.psychic {
    background-color: #f65687;
}

.dark {
    background-color: #725847;
}

.rock {
    background-color: #b8a137;
}

.bug {
    background-color: #a8b720;
}

.ghost {
    background-color: #6e5896;
}

.steel {
    background-color: #b9b7cf;
}

.dragon {
    background-color: #6f38f6;
}

.fairy {
    background-color: #f9aec7;
}

h1,
h2,
h3,
h4,
h5,
h6 {

    font-family: var(--font-pkm);
}

.search-form {

    border: .2rem solid var(--color-primary-dark);
    max-width: 64rem;
    margin: 0 auto;
    border-radius: .4rem;
    position: relative;
    transition: all 300ms ease-in-out;
}

.search-input,
.search-button {

    border: none;
    background: var(--color-gray-0);
    outline: none;
    padding: 1rem;
    transition: all 300ms ease-in-out;
}

.search-button {

    /* buscar ficar na borda direita do pai */
    position: absolute;
    top: 0;
    right: 0;
}


.search-input {

    width: 100%;
    padding-right: 3rem;
}

.search-button:focus {

    outline: 1px solid var(--color-primary);
    background: rgba(0, 0, 0, .2);
}

.search-form:focus-within {

    border-color: var(--color-primary);
    background: var(--color-white);
}

.search-form:focus-within .search-button {

    color: var(--color-primary);
}

.container {

    max-width: 144rem;
    margin: 0 auto;
    padding: var(--spacing-gutter-medium);
}

.main-header-container {

    background: var(--color-primary-red);
    padding: 0;
    border: none;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.main-logo {

    font-size: 4rem;
    color: var(--color-gray-0);
    text-decoration: none;
    display: flex;
    flex-direction: row nowrap;
    align-items: center;
    justify-content: center;
    width: fit-content;
    margin: 0 auto;
}

.main-logo img{

    object-fit: cover;
    width: 8%;
    height: 8%;
    margin-right: 1rem;
}



.main-content-container {

    margin: 30px 30px 30px 30px;
    background: var(--color-white);
    border-radius: 5rem;
    padding: 1rem;
    
}

.main-content-container .text-search {

    margin: 0 auto;
    text-align: center;
    font-size: 1.5em;
    padding-left: 5rem;
}

.pokemons {
    display: grid;
    grid-template-columns: 1fr;
    list-style: none;
    padding: 0;
    margin: 0;
}

@media screen and (min-width: 380px) {
    .pokemons {
        grid-template-columns: 1fr 1fr;
    }
  }

@media screen and (min-width: 576px) {
    .pokemons {
        grid-template-columns: 1fr 1fr 1fr;
    }
  }

@media screen and (min-width: 992px) {
    .pokemons {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
 }


.pokemon {

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 24rem;
    height: 12rem;
    margin: .5rem;
    align-items: center;
    padding-left: 1rem;
    border-radius: 8rem 8rem 8rem 8rem;
    box-shadow: -5px 5px 10px rgba(0, 0, 0, .5);
    font-size: 1.2rem;
}

.pokemon .infos img{

    width: 10rem;
    height: 10rem;
    border-radius: 100px;
    border: solid 4px rgba(255, 255, 255, 0.8);
    padding: 0.8rem;
    margin: 1rem 0rem 1rem 0rem;
    
}

.pokemon .detail {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 2rem;
    text-align: start;
}

.pokemon .detail .identify {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: start;
    /* font-size: 1.2; */
    
}

.pokemon .detail .identify .number{

    color: black;
    opacity: .8;
    text-align: right;
    /* padding-left: 1rem; */
    /* font-size: .8rem; */
}

.pokemon .detail .identify .name{

    color: white;
    text-transform: capitalize;
    text-align: start;
    padding-right: 2rem;
    
}

.pokemon .detail .types{

    padding: 0;
    margin: 0;
    list-style: none;
    margin-top: 0.5rem;
    display: flex;
    flex-direction: row;
    margin-left: 0;
    padding-left: 0;
    font-size: 1rem;
}

.pokemon .detail .types .type{

    color: white;
    padding: .25rem .5rem;
    margin: .25rem .3rem;
    font-size: 1rem;
    border: 1px solid white;
    border-radius: .5rem;
    filter: brightness(1.1);
    text-align: center;
    align-items: flex-start;
    

}

.pokemon .detail .types .type a{

    color: white;
    text-decoration: none;
}


.main-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--color-gray-9);
    color: var(--color-white);
    padding: var(--spacing-gutter-large);
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    
}

.main-footer a {
    color: var(--color-white);
    text-decoration: none;
    transition: all 300ms ease-in-out;
    font-family: var(--font-headings);
}

.main-footer a:hover {
    filter: brightness(.8);
}

.center {
    text-align: center;
  }
  
  .m-x {
    margin: 0 var(--spacing-gutter-medium);
  }

