{% load static %}

<!DOCTYPE html>
<html lang="pt-BR">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
        integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@900&family=Roboto:wght@100;300;500;700;900&display=swap"
        rel="stylesheet">

    <link href="https://fonts.cdnfonts.com/css/omega-ruby" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'pokemons/css/styles.css' %}">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'pokemons/imgs/favicon.ico' %}">


    <title>{% block title %}{% endblock title %}</title>
</head>

<body>

    <header class="main-header-container">

        <div class="main-header container">
            <h1>
                <a class="main-logo" href="{% url 'pokemons:home' %}">
                    <img src="{% static 'pokemons/imgs/pokeball.png' %}" alt="pokeball">
                    <span class="main-logo-text">DJANGO-DEX</span>
                </a>
            </h1>

        </div>

    </header>

    {% include 'pokemons/partials/search-buttom.html' %}
    <main class="main-content-container">
        
        {% block content %}{% endblock content %}
    </main>

    {% block buttons %}{% endblock buttons %}


    <footer class="main-footer">
        <div class="developer">
            <a href="https://github.com/mts-lucas" target="_blank" rel="noreferrer noopener">By Lucas Mateus</a>
        </div>

        <div class="powered">
            <a href="https://www.djangoproject.com/" target="_blank" rel="noreferrer noopener">Powered by Django</a>
        </div>
    </footer>

</body>

</html>