<div class="container {{pkm.color_type}} main-picture-container">

    <div class="left-container container container">

        <div class="number-cont">
            <div class="number-container container">

                <p class="number">#{{ pkm.number|stringformat:"03d" }}</p>
                <a href="{% url 'pokemons:generation' pkm.generation %}" class="gen">{{ pkm.generation }}</a>
        
            </div>

        </div>

    
        <div class="name-container container">
    
            <p class="name">{{ pkm.name }}</p>
    
        </div>
    </div> 


    <div class="container picture-container right-container">

        <img class="pkm-imagem" src="{{pkm.picture}}" alt="{{ pkm.name }}">
        <ol class="types">

            {% for tipo in pkm.pkm_types.all %}

                <li class="typein {{tipo}}">
                    <a href="{% url 'pokemons:tipo' tipo %}">{{tipo}}</a>
                </li>
            
            {% endfor %}

    </div>

</div>