<div class="container stats-container">

    <table>
        <thead>

            <caption>Base Stats</caption>

            <tr>
                <th>statistic</th>
                <th>value</th>
            </tr>

        <tbody>

            <tr>
                <td>hp</td>
                <td>{{pkm.hp}}</td>
            </tr>
            <tr>
                <td>attack</td>
                <td>{{pkm.attack}}</td>        
            </tr>
            <tr>
                <td>defense</td>
                <td>{{pkm.defense}}</td>
            </tr>
            <tr>
                <td>special attack</td>
                <td>{{pkm.special_attack}}</td>
            </tr>
            <tr>
                <td>special defense</td>
                <td>{{pkm.special_defense}}</td>
            </tr>
            <tr>
                <td>speed</td>
                <td>{{pkm.speed}}</td>
            </tr>
        </tbody>
        </thead>
    </table>

    <table>
        <thead>

            <caption>physical attributes</caption>

            <tr>
                <th>statistic</th>
                <th>value</th>
            </tr>

        <tbody>

            <tr>
                <td>height</td>
                <td>{{pkm.height}}</td>
            </tr>
            <tr>
                <td>weight</td>
                <td>{{pkm.weight}}</td>        
            </tr>
        </tbody>
        </thead>
    </table>

</div>