<li class="pokemon {{item.color_type}}">

    <div class="infos">

        <img src="{{item.picture}}" alt="{{item.name}}">

    </div>

    <div class="detail">

        <div class="identify">
            
            <a href="{% url 'pokemons:pokemon' item.number %}"  class="name" >{{item.name}}</a>
            <span class="number">#{{item.number|stringformat:"03d"}}</span>
            
        </div>

        <ol class="types">

            {% for tipo in item.pkm_types.all %}

                <li class="type {{tipo}}">
                    <a href="{% url 'pokemons:tipo' tipo %}">{{tipo}}</a>
                </li>
            
            {% endfor %}

        </ol>

    </div>
</li>


