<li class="pokemon {{item.type}}">

    <div class="infos">

        <img src="{{item.photo}}" alt="{{item.name}}">

    </div>

    <div class="detail">

        <div class="identify">
            <span class="number">#{{item.id}}</span>
            <span class="name">{{item.name}}</span>
        </div>

        <ol class="types">

            {% for tipo in item.types %}

                <li class="type {{tipo}}">{{tipo}}</li>
            
            {% endfor %}

        </ol>

    </div>
</li>


