<li class="pokemon {{item.color_type}}">

    <div class="infos">

        <img src="{{item.picture}}" alt="{{item.name}}">

    </div>

    <div class="detail">

        <div class="identify">
            
            <span class="name">{{item.name}}</span>
            <span class="number">#{{item.number}}</span>
            
        </div>

        <ol class="types">

            {% for tipo in item.pkm_types.all %}

                <li class="type {{tipo}}">{{tipo}}</li>
            
            {% endfor %}

        </ol>

    </div>
</li>


