{% extends 'global/base.html' %}
{% block title %}DJANGO-DEX{% endblock title %}

{% block content %}

    <ol id="pokemonList" class="pokemons">

        <!-- pokemons here -->

        {% for item in pokemonItens %}
            {% include 'pokemons/partials/pokemon-item.html' %}
        {% endfor %}
        
    </ol>

{% endblock content %}

{% block buttons %}

    <div class="but-page">

        {% if pokemonItens.has_previous %}
            <a href="?pagina={{ pokemonItens.previous_page_number }}">Previus Page</a>
        {% endif %}

        {% if pokemonItens.has_next %}
            <a href="?pagina={{ pokemonItens.next_page_number }}">Next Page</a>
        {% endif %}


    </div>


{% endblock buttons %}